<form id="create-post">
    Title: <input id="post-title" type="text" />
    Content: <input id="post-content" type="text" />

    <button type="submit">Create</button>
</form>

<script src="/js/post.js"></script>