<form id="create-post">
    Title: <input id="post-title" type="text" />
    Content: <input id="post-content" type="text" />

    <button type="submit">Create</button>
</form>
{{#each posts as |post| }}
    <h1>{{post.post_title}}</h1>
    <p>{{post.post_body}}</p>
{{/each}}

<script src="/js/post.js"></script>