<form id='edit-post' data-id='{{post.id}}'>
    Title: <input id='updated-title' value='{{post.post_title}}' type='text' />
    Content: <input id='updated-content' value='{{post.post_body}}' type='text' />

    <button type='submit'>Update Post</button>
</form>

<script src="/js/edit-post.js"></script>