<div class='post-indiv'>
    <h3>{{post.post_title}}</h3></br>
{{post.post_body}}</br></br></br>
{{#if post.is_me}}
<a href='/postedit/{{post.id}}'>Edit Post</a>
{{/if}}
{{#each post.Comments as |comment|}}
<p id='comment'>{{comment.comment_body}}</p>
{{/each}}
</div>